<div class="container mt-4">
    <h3 class="text-center">Tasks List</h3>
    <div *ngIf="tasks.length > 0; else noTasks">
      <ul class="list-group">
        <li *ngFor="let task of paginatedTasks; let i = index" class="list-group-item li-container">
          <div class="d-flex justify-content-between">
            <div>
              <h5>{{ task.title }}</h5>
              <p class="mb-1">{{ task.description }}</p>
              <small [ngClass]="getStatusClass(task.status)">{{ task.status }}</small>
            </div>
            <small>{{ task.date | date: 'short' }}</small>
          </div>
        </li>
      </ul>
  
      <!-- Pagination Controls -->
      <nav class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="currentPage === page">
            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- No Tasks Available -->
    <ng-template #noTasks>
      <p class="text-center text-muted">No tasks available.</p>
    </ng-template>
  </div>
  