
.priority-high {
    color: red;
    font-weight: bold;
}
.priority-medium {
    color: orange;
    font-weight: bold;
}
.priority-normal {
    color: green;
    font-weight: bold;
}

.card-body {
    max-width: 90%; 
  }

