<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="text-center mb-4">
                    <h1 class="fw-bold">Add Task</h1>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label" for="basic-default-fullname">Title</label>
                    <input type="text" 
                           class="form-control" 
                           id="basic-default-fullname" 
                           placeholder="Enter a Title" 
                           formControlName="title" />
                    <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="text-danger">
                        Title is required.
                    </div>
                </div>
                
                <!-- Description Field -->
                <div class="mb-3">
                    <label class="form-label" for="floatingInput">Description</label>
                    <div class="form-floating">
                        <input type="text" 
                               class="form-control" 
                               id="floatingInput" 
                               placeholder="Description" 
                               formControlName="description" />
                               
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="prioritySelect" class="form-label">Set Priority</label>
                    <select class="form-select priority-select" 
                            id="prioritySelect" 
                            aria-label="Priority select" 
                            formControlName="priority">
                        <option value="" disabled>Select Priority</option>
                        <option value="high" class="priority-high">High</option>
                        <option value="medium" class="priority-medium">Medium</option>
                        <option value="normal" class="priority-normal">Normal</option>
                    </select>
                    <div *ngIf="taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched" class="text-danger">
                        Priority is required.
                    </div>
                </div>
                
                <!-- Date Fin Field -->
                <div class="mb-3">
                    <label class="form-label" for="html5-date-input-end">End Date</label>
                    <input class="form-control" 
                           type="datetime-local" 
                           id="html5-date-input-end" 
                           formControlName="deadline" />
                    <div *ngIf="taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched" class="text-danger">
                        Deadline is required.
                    </div>
                </div>
                
                <!-- Assignés un utilisateur Field -->
                <div class="mb-3">
                    <label for="exampleFormControlSelect1" class="form-label">Assign a user</label>
                    <select class="form-select" 
                            id="exampleFormControlSelect1" 
                            aria-label="Default select example" 
                            formControlName="userId">
                        <option value="">Select user</option>
                        <option *ngFor="let member of members" [value]="member.id">{{member.username}}</option>
                    </select>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" 
                            class="btn btn-primary" 
                            [disabled]="taskForm.invalid"
                            data-bs-dismiss="modal">
                        Save
                    </button>
                </div>
            </form>
            
        </div>
       
    </div>
</div>

